
.btn_create{
    width: 100px;
    height: 30px;

    border-radius: 10px;
    background-color: rgb(206, 196, 196);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(104, 100, 100);
    margin: 10px;
    
    cursor: pointer;
}
.field_create{
    width: 500px;
    height: 500px;

    border: 1px solid red;

}
.btn_clear{
    width: 100px;
    height: 30px;

    border-radius: 10px;
    background-color: rgb(206, 196, 196);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(104, 100, 100);
    margin: 10px;
    
    cursor: pointer;
}

.btn_up{
    width: 100px;
    height: 30px;

    border-radius: 10px;
    background-color: rgb(62, 232, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(24, 125, 202);
    margin: 10px;
    
    cursor: pointer;
}
.btn_up{
    width: 100px;
    height: 30px;

    border-radius: 10px;
    background-color: rgb(62, 232, 238);
    display:inline-block;
  
    color: rgb(24, 125, 202);
    margin: 10px;
    padding: 10px 0 0 60px;
    cursor: pointer;
}

    .btn_down{
        width: 100px;
        height: 30px;
    
        border-radius: 10px;
        background-color: rgb(62, 232, 238);
        display:inline-block;
      
        color: rgb(24, 125, 202);
        margin: 10px;
        padding: 10px 0 0 60px;
        cursor: pointer;    }

   .btn_left{
            width: 100px;
            height: 30px;
        
            border-radius: 10px;
            background-color: rgb(62, 232, 238);
            display:inline-block;
           
            color: rgb(24, 125, 202);
            margin: 10px;
            padding: 10px 0 0 60px;
            cursor: pointer;    }

 .btn_right{
                width: 100px;
                height: 30px;
            
                border-radius: 10px;
                background-color: rgb(62, 232, 238);
                display: inline-block;
                color: rgb(24, 125, 202);
                margin: 10px;
                padding: 10px 0 0 60px;
                cursor: pointer;    }